@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: 1.1em;
    line-height: 1em;
    list-style-type: none;
}

h1 {
    background-color: transparent;
    position: absolute;
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    padding: 2em;
}

header {
    display: flex;
    justify-content: space-between;
}

.container {
    text-align: center;
}

.show-desktop {
    list-style-type: none;
}

.hide-mobile {
    display: none;    
}
.menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.blue-container{
    background: rgb(44, 202, 202);
    margin-top: 29%; 
    list-style-type: none;   
    padding: 1em;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
}

.intro {
    text-align: left;
    transform: skewY(-2deg);
    font-size: 1.4em;
}
.blue-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgb(44, 202, 202);
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}
.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: white;
    top: -80px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    z-index: -1;
}

.blue-container ul{
    transform: skewY(-2deg);
}

.blue-container ul li {
    margin-bottom: 1em;
    margin-left: 3%;
    margin-right: 4%;  
    list-style-type: none;
    align-items: center;
}

.blue-container ul li p {
    margin-top: -2em;
}

.bg-container {
    text-align: center;    
}
.bb {
    list-style-type: none;
}
.bg-container ul li p{
    margin-top: -2em;
}

.head ul{
    position: fixed;
    width: 10%;
    top: 0;
    right: 0;
    text-align:left;
    background: rgb(75, 74, 74);
    height: 100%;
    z-index: 10;
    padding-top: 3em;
}

.head ul li a {
    
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
    width: 100%;    
    background-color: rgb(85, 90, 90);
}

.head ul li a:hover {
    background-color: rgb(146, 141, 141);
}

.close-icon {
    width: 20px;
    height: 20px;
    background-color:grey;
    cursor: pointer;
}

.close-icon:hover {
    background-color: rgb(184, 182, 182);
}

@media only screen and (min-width: 650px) {

    .blue-container {
        margin-top: 19%;
    }
    .blue-container ul {
        display: flex;
        margin-top: -2%;
        align-items: center;
        
        
    }
    .blue-container ul li img{
        width: 10%;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) {
    .blue-container {
        margin-top: 9%;
    }

}